# Dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock
package-lock.json

# Testing
/coverage

# Production
/build
/dist
/.next/
/out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
*.pem
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Cache
.cache/
.temp/

# Storybook
storybook-static/

# Test results
/test-results/
/playwright-report/
/playwright/.cache/ 